<section id="{{ page.header.title }}" class="events">
    <div class="events-wrapper inside">
        <div class="events__headlines">
            <h2> {{ page.title }}</h2>
            <h3> {{page.header.headline}} </h3>
        </div>
        <ul class="events__content inside">
            {% for event in page.header.eventlist %}
                <li class="events__content__item">
                    <a title="{{ event.name }}" rel="noopener" target="_blank" href="{{ event.link }}" class="events__content__item__link">
                        <div class="events__content__item__name"><h4>{{ event.name }}</h4></div>
                        <div class="events__content__item__date">{{ event.start_date }} - {{ event.end_date }}</div>
                        <div class="events__content__item__location">{{ event.location }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>