<ul>
{% for module in page.find('/home').collection %}
{% if module.header.visible %}
    <li>
        <a title="{{ module.title }}" class="nav-link" href="{{ home_url }}#{{ module.menu }}">
        {{ module.menu }}
        </a>
    </li>
{% endif %}
{% endfor %}
{% for page in pages.children %}
{% if page.visible %}
    <li>
        <a title="{{ page.title }}" class="nav-link" href="{{ home_url }}{{ page.menu }}">
        {{ page.menu }}
        </a>
    </li>
{% endif %}
{% endfor %}
    <li>
        <a title="Login" class="login-button nav-link" href="https://auth.regio.digital/">Login</a>
    </li>
</ul>