<ul>
    <li>
        <a href="{{ home_url }}" title="Home" class="nav-link">Home</a>
    </li>
{% for page in pages.children %}
    {% if page.visible %}
        <li>
            <a title="{{ page.title }}" class="nav-link" href="{{ home_url }}{{ page.menu }}">
            {{ page.menu }}
            </a>
        </li>
    {% endif %}
{% endfor %}
{% for module in page.find('/home').collection %}
    {% if module.header.visible %}
        <li>
            <a title="{{ module.title }}" class="nav-link" href="{{ home_url }}#{{ module.menu }}">
            {{ module.menu }}
            </a>
        </li>
    {% endif %}
{% endfor %}
    {# <li class="submenu-init"><a href="#">Testinho</a>
        <ul class="submenu">
            <li class="submenu2-init"><a href="#">Gruppe</a>
                <ul class="submenu2">
                    <li><a href="#">Seite 1</a></li>
                    <li><a href="#">Seite 2</a></li>
                    <li><a href="#">Seite 3</a></li>
                </ul>
            </li>
            <li class="submenu2-init"><a href="#">Gruppe</a>
                <ul class="submenu2">
                    <li><a href="#">Seite 4</a></li>
                    <li><a href="#">Seite 5</a></li>
                    <li><a href="#">Seite 6</a></li>
                </ul>
            </li>
        </ul>
    </li> #}
    <li>
        <a title="Login" class="login-button nav-link" href="https://auth.regio.digital/">Login</a>
    </li>
</ul>