{% set collection = page.collection() %}

{% block content %}
    <section class="infoboxes">
        <div class="infoboxes__content inside">
            <div class="infoboxes__content__text">
                {{ page.content|raw}}
            </div>
                {% if page.folder() ends with 'services' %}
                    <ul class="infoboxes__content__boxes infoboxes__content__boxes--services">
                    {% set hasSoftwareChild = false %}
                        {% for child in collection %}
                            {% if 'software' in child.taxonomy.tag %}
                                {% set hasSoftwareChild = true %}
                            {% endif %}
                        {% endfor %}
                    {% if hasSoftwareChild %}
                        <div class="h4-wrapper">
                            <h4>Software</h4>
                        </div>
                        {% set software_children = collection|filter(child => 'software' in child.taxonomy.tag) %}
                        {% set visible_children = software_children|slice(0, 3) %}
                        {% set remaining_children = software_children|slice(3) %}
                            
                        {% for child in visible_children %}
                            <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                            </a>
                        {% endfor %}
                            
                        {% if software_children|length == 4 %}
                            {% for child in remaining_children %}
                                <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                    {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                                </a>
                            {% endfor %}
                        {% elseif software_children|length > 4 %}
                            <div class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--last infoboxes__content__boxes__single-box--services">
                                <span class="infoboxes__content__boxes__single-box__text">+ {{ remaining_children|length }} weitere Dienste verfügbar</span>
                                <a href="#" class="infoboxes__content__boxes__single-box__button">Zur Übersicht</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% set hasPlatformChild = false %}
                        {% for child in collection %}
                            {% if 'platform' in child.taxonomy.tag %}
                                {% set hasPlatformChild = true %}
                            {% endif %}
                        {% endfor %}
                    {% if hasPlatformChild %}
                        <div class="h4-wrapper">
                            <h4>Plattformen</h4>
                        </div>
                        {% set platform_children = collection|filter(child => 'platform' in child.taxonomy.tag) %}
                        {% set visible_children = platform_children|slice(0, 3) %}
                        {% set remaining_children = platform_children|slice(3) %}
                            
                        {% for child in visible_children %}
                            <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                            </a>
                        {% endfor %}
                            
                        {% if platform_children|length == 4 %}
                            {% for child in remaining_children %}
                                <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                    {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                                </a>
                            {% endfor %}
                        {% elseif platform_children|length > 4 %}
                            <div class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--last infoboxes__content__boxes__single-box--services">
                                <span class="infoboxes__content__boxes__single-box__text">+ {{ remaining_children|length }} weitere Dienste verfügbar</span>
                                <a href="#" class="infoboxes__content__boxes__single-box__button">Zur Übersicht</a>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% set hasInfrastructureChild = false %}
                        {% for child in collection %}
                            {% if 'infrastructure' in child.taxonomy.tag %}
                                {% set hasInfrastructureChild = true %}
                            {% endif %}
                        {% endfor %}
                    {% if hasInfrastructureChild %}
                        <div class="h4-wrapper">
                            <h4>Infrastruktur</h4>
                        </div>
                        {% set infrastructure_children = collection|filter(child => 'infrastructure' in child.taxonomy.tag) %}
                        {% set visible_children = infrastructure_children|slice(0, 3) %}
                        {% set remaining_children = infrastructure_children|slice(3) %}
                            
                        {% for child in visible_children %}
                            <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                            </a>
                        {% endfor %}
                            
                        {% if infrastructure_children|length == 4 %}
                            {% for child in remaining_children %}
                                <a class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--services" href="{{ child.url }}">
                                    {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                                </a>
                            {% endfor %}
                        {% elseif infrastructure_children|length > 4 %}
                            <div class="infoboxes__content__boxes__single-box infoboxes__content__boxes__single-box--last infoboxes__content__boxes__single-box--services">
                                <span class="infoboxes__content__boxes__single-box__text">+ {{ remaining_children|length }} weitere Dienste verfügbar</span>
                                <a href="#" class="infoboxes__content__boxes__single-box__button">Zur Übersicht</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <ul class="infoboxes__content__boxes infoboxes__content__boxes--services">
                    {% for child in collection %}
                        <li class="infoboxes__content__boxes__single-box">
                            {% include 'partials/infoboxes_item.html.twig' with {'serivces':page, 'page':child, 'truncate':true} %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </section>
{% endblock %}